@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
    width: 100%;
}
.no-scroll {
    overflow: hidden;
}

.tiptap p.is-editor-empty:first-child::before {
    color: #B4B4B4;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

.tiptap p.is-empty::before {
    color: #B4B4B4;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

@layer components {
    .btn-primary {}
}

@layer base {

    html,
    body {
        @apply bg-sand-sand1 text-sand-sand12 font-inter antialiased selection:bg-iris-iris7;
    }
body {
        @apply relative;
    }

    h1 {
        @apply text-4xl md:text-5xl text-sand-sand12 font-bold;
    }

    h2 {
        @apply text-3xl md:text-4xl text-sand-sand12 font-bold;
    }

    h3 {
        @apply text-2xl md:text-3xl text-sand-sand12 font-bold;
    }

    h4 {
        @apply text-xl md:text-2xl text-sand-sand12 font-semibold;
    }

    h5 {
        @apply text-base md:text-xl text-sand-sand12 font-semibold;
    }

    span {
        @apply text-sand-sand11 font-medium text-sm;
    }

    p {
        @apply text-gray-gray11 text-base;
    }

    a {
        @apply underline text-sm hover:text-iris-iris12 text-iris-iris11 font-medium;
    }
}